/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

h2,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 40vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 100%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

.section-2 select {
    width: 10%;
    max-width: 300px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #7A7C80;
    border-radius: 4px;
    background-color: #1c1e20;
    color: #fff;
}

.section-2 label {
    display: inline-block;
    width: 70px; /* Fixed width to ensure consistent alignment */
    text-align: right; /* Align label text to the right */
    margin-right: 10px; /* Space between label and input */
}

.section-2 input {
    width: calc(100% - 70px); /* Subtract label width and margin from input width */
    max-width: 100px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box; /* Ensures padding is included in width */
    border: 1px solid #7A7C80; /* Add a border to input boxes */
    border-radius: 4px; /* Optional: adds a slight border radius */
    background-color: #1c1e20; /* Background color of the input */
    color: #fff; /* Text color */
}

.custom-input {
    width: calc(100% - 70px); /* Subtract label width and margin from input width */
    max-width: 100px;
    padding: 13px;
    margin: 5px 0;
    box-sizing: border-box; /* Ensures padding is included in width */
    border: 1px solid #7A7C80; /* Add a border to input boxes */
    border-radius: 4px; /* Optional: adds a slight border radius */
    background-color: #1c1e20; /* Background color of the input */
    color: #fff; /* Text color */
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#airlines-list{
    padding-top: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 100px;
    width: 100%;
}

#airlines-list li{
    padding: 3px;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}